body {
	background: lightblue;
	font-size: 14pt
	font-family:'Crimson Text', serif;
	
}

h1 { font-size: 250%;
	font-weight: bold;
	color: navy;
	
h2 { font-size: 250%; font-style: italic;
	color: navy;
	
}

nav li { display: inline-block;
		border: 2px solid black; 
		padding: 10px;
		margin: 5px
		background: white; }